@model IEnumerable<IlQuadrifoglio.Models.Order>


<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12">
            <div class="text-center"><h1>Mina ordrar</h1></div>
            @if (Model != null)
            {
                <div class="container my-4 mb-3">
                    <h3>Aktiva ordrar</h3>
                    @if (Model.Any(o => o.OrderStatus == Status.Mottagen || o.OrderStatus == Status.Tillagas || o.OrderStatus == Status.Levereras))
                    {
                        @foreach (var order in Model.Where(o => o.OrderProducts != null && o.OrderProducts.Any() && o.OrderStatus == IlQuadrifoglio.Models.Status.Levereras || o.OrderStatus == IlQuadrifoglio.Models.Status.Mottagen || o.OrderStatus == IlQuadrifoglio.Models.Status.Tillagas).OrderByDescending(o => o.OrderTime))
                    {
                        <div class="card border-bottom box-shadow m-1 mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-2">
                                            <h6>Orderdatum:</h6>
                                            <p>@order.OrderTime</p>
                                        </div>
                                        <div class="mb-2">
                                            <h6>Estimerad leverans:</h6>
                                            <p>@order.EstimatedDelivery</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h6>Produkter:</h6>
                                        <ul>
                                            @foreach (var orderProduct in order.OrderProducts)
                                            {
                                                <li>@orderProduct.Quantity x @orderProduct.Product.ProductName</li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="mb-2">
                                                <h6>Orderstatus:</h6>
                                                <p>@order.OrderStatus</p>
                                            </div>
                                        <div class="mb-2">
                                            <h6>Totalpris:</h6>
                                            <p>@(order.OrderProducts?.Sum(item => (item.Product?.Price ?? 0) * item.Quantity).ToString("C"))</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    }
                    else
                    {
                        <h6>Det finns inga aktiva ordrar</h6>
                    }
                </div>
                <div class="container my-4 mb-3">
                <h3>Levererade ordrar</h3>
                @if (Model.Any(o => o.OrderStatus == Status.Levererad))
                {
                @foreach (var order in Model.Where(o => o.OrderProducts != null && o.OrderProducts.Any() && o.OrderStatus == IlQuadrifoglio.Models.Status.Levererad).OrderByDescending(o => o.OrderTime))
                {
                    <div class="card border-bottom box-shadow m-1 mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-2">
                                        <h6>Orderdatum:</h6>
                                        <p>@order.OrderTime</p>
                                    </div>
                                    <div class="mb-2">
                                        <h6>Estimerad leverans:</h6>
                                        <p>@order.EstimatedDelivery</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h6>Produkter:</h6>
                                    <ul>
                                        @foreach (var orderProduct in order.OrderProducts)
                                        {
                                            <li>@orderProduct.Quantity x @orderProduct.Product.ProductName</li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                        <div class="mb-2">
                                            <h6>Orderstatus:</h6>
                                            <p>@order.OrderStatus</p>
                                        </div>
                                    <div class="mb-2">
                                        <h6>Totalpris:</h6>
                                        <p>@(order.OrderProducts?.Sum(item => (item.Product?.Price ?? 0) * item.Quantity).ToString("C"))</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    }
                }
                else
                {
                    <h6>Det finns inga levererade ordrar</h6>
                }
                </div>
            }
            else
            {
                <h6>Det finns inga ordrar att visa</h6>
            }
        </div>
    </div>
</div>